@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto+Slab:wght@300;400&display=swap');


:root {
  --darknavy: #0C0032;
  --navy: #190061;
  --lightnavy: #240090;
  --blue: #3500D3;
  --darkgrey: #282828;
  --white: #ffffff;
}

html {
  background-color: var(--darknavy);
  color: var(--white);
}
.app {
  margin: 20% auto;
  width: fit-content;
  height: fit-content;
}

.header {
  font-family: Montserrat;
  font-size: 40px;
}

.mathQuestions {
  display: flex;
  margin: auto;


}
.questionNumbers {
  font-family: Montserrat;
  padding: 1rem;
}

.inputBox {
  border-radius: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: Roboto Slab;

}

.submitDiv {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 3rem;
}

.submitAnswer {
  border-radius: 1rem;
  font-family: Roboto Slab;
  font-size: 1rem;
}

.scoreheader {
  font-family: Montserrat;
}

.tryagain {
  font-family: Montserrat;
  color: red;
}

.goodjob {
  font-family: Montserrat;
  color: green;
}